
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: red; 
    background-image: linear-gradient(red, yellow); /*start and end color */
    padding: 20px;
  }
  
  .grid-item {
    text-align: center;
   
    padding: 10px;
  }